/* Your existing styles here */

.logo-and-name 
     {
        height: 50px; /* Set height of the logo */
    margin-top: 20px; /* Adjust as needed */
}

.logo-and-name img {
    width: 200px; /* Adjust as needed */
    height: 120px;
    float:right;
}